h1#titulo-ppal{
            background-color: none;
            text-align: center;
            font-size: 40px;
            padding: 15PX;          
}



*{
    box-sizing: border-box;
    margin: 0px;
}
.menu-enlaces a {
    
    background-color:#fca652;
    color: mediumblue;
    text-decoration: none;
    float: left;
    width: 12.5%;
    text-align: center;
    padding: 20px;
    font-size:25px;
    }

.menu-enlaces a:hover{
    background-color: mediumblue ;
    color:gold;
    

}

#subtitulo1{
    font-style: initial;
    color: maroon;
    font-size: 35px;
    text-align: center;
}

h1{
    color: blue;
    text-align: center;
    font-size: 60px;
}

h2{
    color:red;
  text-align: center;
  font-size: 40px;
}

#parrafo1{
    color:black;
    text-align: center;
    font-size: 30px;
}

#linea1{
    color:black;
    text-align: center;
    font-size: 30px;
}