h1#titulo-ppal{
    background-color: white;
    text-align: center;
    font-size: 40px;
    padding: 15PX;          
    }



*{
    box-sizing: border-box;
    margin: 0px;
}
.menu-enlaces a {
    
    background-color:#fca652;
    color: mediumblue;
    text-decoration: none;
    float: left;
    width: 12.5%;
    text-align: center;
    padding: 20px;
    font-size:25px;
    }

.menu-enlaces a:hover{
    background-color: mediumblue ;
    color:gold;
    

}


#subtitulo1{
    font-style: initial;
    color: maroon;
    font-size: 35px;
    text-align: center;
}

#subtitulo2{
    font-style: initial;
    color: maroon;
    font-size: 35px;
    text-align: left;
}

h1{
    color: blue;
    text-align: center;
    font-size: 60px;
}

h2{
    color:red;
  text-align: center;
  font-size: 40px;
}

#parrafo1{
    color:black;
    text-align: center;
    font-size: 30px;
    
}

#parrafo2{
    color:black;
    text-align:left;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

#linea1{
    color:black;
    text-align: center;
    font-size: 30px;
}


#fuente{
    color:rgb(84, 68, 228);
    text-align: center;
    font-size: 25px;
}
table{
    font-size: 25px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
}

.table1{
    width: 70%;
    margin: 40px;


}

.manualIdentidad {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f0b428;
    margin-left: 60%;
    margin-top: 5px;
}

.lista1{
    font-size: 25px;
}
em{
    color: blue;
}

.crucig{
    margin-top: 50px;
    margin-left: 500px;
    margin-right: auto
}
.sopal{
    margin-top: 50px;
    margin-left: 500px;
    margin-right: auto
}

 

